<div>
    <strong><%= link_to restaurant.name, restaurant_path(restaurant.id) %></strong> <br />
    <%= restaurant.location %> <br />
    Rating: 
    <%= number_with_precision restaurant.reviews.average(:rating), :precision => 2 %> <br />
</div>